<h1 class="title-products">Hardware y periféricos</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el artículo o una referencia..."> 
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (2).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>Disco Duro Mecánico</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (3).png" width="100%" alt="producto 1">
        <div class="offer">Oferta</div>
        <h3>SSD M.2 NVM</h3>
        <strong class="price"><del>$35.00</del>$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (4).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>SSD SATA III</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (5).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>SSD M.2 NVM</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (6).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>Teclado Oficina</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (7).png" width="100%" alt="producto 1">
        <div class="offer">Oferta</div>
        <h3>Teclado Gaming</h3>
        <strong class="price"><del>$35.00</del>$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (8).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>Mouse Gaming</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (9).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>Teclado Gaming</h3>
        <strong class="price">$29.98</strong>
    </a>


    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (10).png" width="100%" alt="producto 1">
        <div class="offer">Oferta</div>
        <h3>Audífonos Gaming</h3>
        <strong class="price"><del>$35.00</del>$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (12).png" width="100%" alt="producto 1">
        <div class="hidden offer">Oferta</div>
        <h3>Mouse Gaming</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/image-removebg-preview (13).png" width="100%" alt="producto 1">
        <div class="offer">Oferta</div>
        <h3>Audífonos Gaming</h3>
        <strong class="price"><del>$35.00</del>$29.98</strong>
    </a>

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>

    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>